@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
whole container
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
top wrapper 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.top-half-wrapper {
    text-align: center;
}

.light-header {
    font-size: 32px;
    font-weight: 200;
    color: var(--very-dark-blue);
    margin-top: 50px;
}

.dark-header {
    font-size: 32px;
    font-weight: 700;
    color: var(--very-dark-blue);
    margin-bottom: 20px;
}

.top-copy {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
    width: 530px;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Bottom wrapper 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bottom-half-wrapper {
    display: flex;
    margin: 50px;
    gap: 20px;
}


.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    height: 300px;
    width: 400px;
    border-radius: 0 0 10px 10px;
}

#bottom-container {
    flex: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Supervisor Card
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#cyan-card {
    margin-top: 150px;
}
.cyan-color {
    height: 8px;
    background-color: var(--cyan);
    border-radius: 10px 10px 0 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Team Builder Card 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


.red-color {
    height: 8px;
    background-color: var(--red);
    border-radius: 10px 10px 0 0;
}
.card-title {
    padding: 25px;
    font-size: 20px;
    font-weight: 700;
    color: var(--very-dark-blue);

}

.card-copy {
    padding-left: 25px;
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
}

.img {
    padding-top: 80px;
    padding-left: 300px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Karma Card
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#orange-card {
    margin-top: 30px;
}
.orange-color {
    height: 8px;
    background-color: var(--orange);
    border-radius: 10px 10px 0 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Calculator Card
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#blue-card {
    margin-top: 150px;
}
.blue-color {
    height: 8px;
    background-color: var(--blue);
    border-radius: 10px 10px 0 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Attribution Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
    }